<p id="notice"><%= notice %></p>

<% content_for :user do %>
<p>
  <strong>User:</strong>
  <%= @idea.user %>
</p>

<p>
  <strong>Content:</strong>
  <%= @idea.content %>
</p>

<%= link_to 'Edit', edit_user_idea_path(current_user, @idea) %> |
<%= link_to 'Back', user_ideas_path(current_user) %>

<h1>404 The page you were looking for doesn't exist!</h1>
<% end %>
